/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
test.js
yarn.lock
package.json
.eslintrc.json
/src/config/auth.js
/__tests__/**